.big{
	position: relative;
	color:' orange';
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}
a:hover,a:focus{color:#74777b;text-decoration: none;}

.zzsc{
	margin: 70px auto;
	max-width: 640px;
}
.zzsc .txtwav{
	margin-left: 55px;
}
.zzsc .wct{
	position: absolute;bottom:150px;left:42%;font-size: 25px;
}
